.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
}

.rpsChoices {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}